<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotería Mexicana</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    <table>
        {% for fila in range(filas) %}
        <tr>
            {% for columna in range(columnas) %}
            <td class="color-{{ (fila + columna) % 3 }}">
                {{ cartas[fila * columnas + columna] }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>